main{
    margin-top: 0px;
    width: 520px;
    height: 420px;
    border-radius: 10px;
    padding: 0px;
    display: grid;
    grid-template: repeat(10,1fr)/repeat(10,1fr); 
    /* col y filas con el grid */
    margin:auto;
    box-shadow: 1px 4px 20px 5px rgba(0,0,0,0.75);
}
.titulo{
    font-size: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 0px;
    margin-bottom:12px;
    height: 90px;
    padding-left: 40%;
    color: white;
    
}

body{
    background-color: rgb(89, 132, 226);
    justify-content: center;
    font-family: 'Open Sans';

}

.card{

    /* width: 10%; */
    /* height: 10%; */
    border: solid 1px green;
    background-color: rgb(130, 199, 130);

}
.actual1{
    background-image: url("img/perro1.jpg");
    background-size: cover; 
    background-position: center;
}
.actual2{
    background-image: url("img/perro2.avif");
    background-size: cover; 
    background-position: center;
}

.objetivo{
    background-image: url("img/hueso.jpg");
    background-size: cover; 
    background-position: center;

}
.boton{
    text-align: center;
    padding: 5px;
    color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #5b8a3c;
    box-shadow: 0px 10px 14px -7px #3e7327;
	background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
	background-color:#77b55a;
	border-radius:4px;
	border:1px solid #4b8f29;
}

.conten1{
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}
#divGanar{
    color: rgb(111, 14, 14);
    font-weight: 700;
    
}
.contador{
    font-weight: 700;
}
